.coverage
.env
.idea
.mypy_cache
.pytest_cache
.vscode
__pycache__
aica-manager/
coverage.xml
db.sqlite3
docker-compose-local-overrides.yaml
pcaps/
venv
reqs*
*/reqs*

enviroment.yml

*/enviroment.yml