venv
.idea
.coverage
coverage.xml
__pycache__
.pytest_cache
db.sqlite3
data
.vscode

# Need to use real malware to test antivirus, appending .malz to any potentially malicious file
# and placing it in the gitignore so it doesn't accidentally get pushed
*.malz