*.crt
*.csr
*.key
*.srl
*/environment.yml
*/reqs*
.DS_Store
.coverage
.env
.idea
.mypy_cache
.pytest_cache
.vscode
__pycache__
aica-manager/
coverage.xml
db.sqlite3
/scratchwork
docker-compose-local-overrides.yaml
enviroment.yml
pcaps/
reqs*
venv
