Django==4.2.4
amqp==5.1.1
backoff==2.2.1
celery==5.3.1
coverage==7.3.0
dateparser==1.1.8
django-bootstrap-v5==1.0.11
django-extensions==3.2.3
django-neomodel==0.1.1
fasteners==0.18
flower==2.0.1
gunicorn==21.2.0
json2table==1.1.5
kombu==5.3.1
neo4j==5.10.0
neomodel==5.1.0
netaddr==0.8.0
netflow==0.12.2
netifaces2==0.0.18
pandas==2.0.3
paramiko==3.3.1
psycopg[binary,pool]==3.1.10
pymongo==4.4.1
py2neo==2021.2.3
python-dotenv==1.0.0
python3-nmap==1.6.0
pyyaml==6.0.1
requests==2.31.0
sqlalchemy==2.0.20
supervisor-stdout==0.1.1
vt-py==0.17.5
