Django==4.0.5
amqp==5.1.1
celery==5.2.7
dateparser==1.1.1
django-extensions==3.1.5
django-prometheus==2.2.0
flower==1.0.0
gunicorn==20.1.0
kombu==5.2.4
neo4j==4.4.4
netaddr==0.8.0
netflow==0.11.0
netifaces==0.11.0
paramiko==2.11.0
# psycopg2-binary requires pg_config to be installed:
# libpq-dev in Linux, `brew install postgresql` on MacOS
psycopg2-binary==2.9.3
pymongo==4.1.1
py2neo==2021.2.3
python-dotenv==0.20.0
python3-nmap==1.5.4
pyyaml==6.0
sqlalchemy==1.4.37
supervisor-stdout==0.1.1
