{
	order coraza_waf first
}

localhost:80 {
	coraza_waf {
		include /coraza/sites/localhost/*.conf
		include /coraza/coreruleset/rules/*.conf
		include /coraza/coraza.conf
	}
	log {
		output file /var/log/caddy/juiceshop-access.log
	}
	reverse_proxy localhost:3000 {
	}
}
